body
{   
     background-color:#FFFFC9;
}

h1
{
color:black;
text-align:center;
font-size:xx-large;
}
p
{
font-family:"Times New Roman";
font-size:20px;
}


.text-left
{
    
    text-align:left;
}
.text-center
{
    text-align:center;
}
.place-left 
{
   
  float: left !important;

   
   background-color:#FFCC99;
    position:absolute;
  
    
    height: 100%;
    width: 202px;
   
}



  .place-right {
   float: right !important;
 
 background-color:#FFFFC9;
 height:100%;
 margin-left:202px;

}

div.derecha
{
    float: right;
   
    width: 35%;
    margin-top:20px;        
}
div.cuerpo
{
    margin-left:230px;
    width:60%;
}
derechaimagen
{
    float: right;
    /*background-color: #C0C0C0;*/
    width: 35%;
    margin-top:20px;        
}
.place-left {
  float: left !important;
  margin-right: 10px;
    top: 16px;
    left: 19px;
    margin-bottom: 0px;
}


div.imagenizquierda
{
    margin-right:0px;
    margin-top:40px;
  
   
}