
div.izquierda
{
background-color:#d0e4fe;
float:left;
}
h1
{
color:black;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:20px;
}

div.derecha
{
    float:right;
    background-color:#FFFF33;
}



